 /*!
 * Custom styles af DIG
 */
 /*Generelt*/

 body {
     font-family: 'Russo One', sans-serif;
     background-color: beige;
 }
 .container1 img {
     width: 100%;
 }
 .container img {
     width: 100%;
 }
 .ret {
     float: left;
 }
